# Private Environment Keys
.env
*.env

# Google API Authentication Tokens
token.json
client_secret.json

# Local Docker Data Storage Folders (Crucial!)
evolution_db_data/
evolution_instances/

# Python Cache Files
__pycache__/
*.pyc

# Local Config Matrix
routing_matrix.json